@use 'global_69';

/*
=============== 
Navbar
===============
*/

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: var(--clr-primary-10);
    
    &-center{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }
    &-header{
        position: absolute;
        color: rgb(87, 84, 87);
        left: 3rem;
        text-shadow: shadow1, shadow2, shadow3;
        text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
        
    }
    &-links{
        display: none;
    }
    &-btn{
        position: absolute;
        right: 1rem;
        border-color:transparent ;
        font-size: 2rem;
        background-color: transparent;
        color: var(--clr-primary-5);
        cursor: pointer;
    }
}
.navbar-fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: var(--light-shadow);
    z-index: 5;
}

@media screen and (min-width: 768px) {
    .nav{
        &-links{
            display: flex;
            //justify-content: space-between;
            gap: 1.5rem;
            right: 4rem;
            position: absolute;
            li a{
                color: var(--clr-grey-5);

                &:hover {
                    color: var(--clr-primary-5);
                    border-bottom: 2px solid rgba(133, 26, 26, 0.547);
                }
            }
        }
        &-btn{
            display: none;
        }
    }
}
/*
==========
sidebar
==========
*/
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(151, 149, 151);
    z-index: 5;
    transition: var(--transition);
    transform: translateX(-100%);
    display: grid;
    justify-content: center;
    align-items: center;
    .close-btn{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        border-color:transparent ;
        background-color: transparent;
        color: black;
        cursor: pointer;
        &:hover{
            color: var(--clr-primary-5);
        }
    }
    &-links{
        text-align: center;
        a{
            font-size: 2rem;
            text-transform: capitalize;
            color: rgb(87, 84, 87);
            letter-spacing: var(--spacing);
            &:hover{
                color: var(--clr-primary-5);
            }
        }
    }
    .social-icons {
        display: grid;
        justify-items: center;
        margin-top: 3rem;
        width: 20rem;
        grid-template-columns: repeat(5,1fr);
    }
    .social-icon{
        color: rgb(87, 84, 87);
        font-size: 1.5rem;
        transition: var(--transition );
    }
    .social-icon:hover{
        color: var(--clr-primary-5);
    }
}
.show-sidebar{
    transform: translateX(0);
}
/*
==========
Hero
==========
*/
.hero{
    background-color: var(--clr-primary-10);
    &-center{
        min-height: calc(100vh - 4rem);
        display: grid;
        // justify-content: center;
        // align-items: center;
        place-items: center;
        position: relative;
    }
    &-info h3{
        position: absolute;
        color: var(--clr-grey-5);
        left:5rem;
    }
    &-icons{
        justify-content: start;
    }
    &-btn{
        margin-top: 1.5rem;
    }
    &-img{
        display: none;
    }
    &-photo{
        max-width: 15rem;
        max-height: 15rem;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
    }
}
@media screen and (min-width:768px){
    .hero{
        &-center{
            grid-template-columns: 1fr 1fr;
        }
        &-img{
            display: block;
            width: 70%;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 2rem;
                right: -2rem;
                width: 15rem;
                height: 15rem;
                border: 0.25rem solid var(--clr-primary-5);
                border-radius: 50%;
            }
        }
    }
}
/*
========
about
========
*/
.about{
    background-color: rgb(151, 149, 151);
    &-center{
        min-height: calc(100vh - 4rem);
        display: grid;
        // justify-content: center;
        // align-items: center;
        place-items: center;
        margin-top: -5rem;
        margin-bottom: -5rem;
        
    }
    &-info p{
        color: var(--clr-grey-5);
    }
    &-btn{
        margin-top: 1.5rem;
    }
    &-photo{
        max-width: 25rem;
        max-height: 30rem;
        object-fit: cover;
        border-radius: var(--radius);
        position: relative;
    }
}
@media screen and (min-width:768px) {
    .about{
        &-center{
            grid-template-columns: 1fr 1fr;
        }
    }
}

/*
=============== 
Services
===============
*/
/* bg-grey in globals */
.services-center {
    .service {
        background-color: var(--clr-primary-10);
      padding: 3rem 1.5rem;
      margin-bottom: 2rem;
      border-radius: var(--radius);
      text-align: center;
      transition: var(--transition);
      &:hover {
        background: var(--clr-primary-5);
        color: var(--clr-white);
        .underline {
          background: var(--clr-white);
        }
        p {
          color: var(--clr-white);
        }
      }
      &-icon {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
      .underline {
        width: 3rem;
        height: 0.12rem;
        -webkit-transition: var(--transition);
        transition: var(--transition);
      }
    }
  }
  @media screen and (min-width: 676px) {
    .services-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  }
  @media screen and (min-width: 992px) {
    .services-center {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

/*
=============== 
connect
===============
*/

.connect {
    background-color: var(--clr-primary-10);
    position: relative;
    padding: 10rem 0 5rem 0;
    display: grid;
    place-items: center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: white;
        opacity: 0.7;
        z-index: -3;
    }

    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -5;
    }

    .video-banner {
        padding: 3rem 5rem 12rem 5rem;
        text-align: center;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }
    .section-title {
        margin-bottom: 2rem;
    }
    .video-text {
        width: 30rem;
        margin-top: 2rem;
        color: var(--clr-grey-5);
        margin-bottom: 2rem;
    }
}

/*
=============== 
skills
===============
*/

@media screen and (min-width: 768px) {
    .skills-center {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.skills {
    background: rgb(151, 149, 151);
    

    &-center {
        width: 80vw;
        display: grid;
        column-gap: 3rem;
        margin-bottom: 6rem;
    }

    h2 {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    h3 {
        margin: 3rem;
        color: var(--clr-primary-10);
    }
}

/*
=============== 
timeline
===============
*/

.timeline {
    &-center {
        width: 80vw;
        max-width: 40rem;
    }

    &-item {
        border-top: 2px dashed var(--clr-primary-5);
        margin: 0;
        padding: 4rem 2rem;
        position: relative;

        &:nth-child(even) {
            border-left: 2px dashed var(--clr-primary-5);
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
            margin-right: 2rem;
            padding-right: 0;

            .number {
                left: 0;
            }
        }

        &:nth-child(odd) {
            border-right: 2px dashed var(--clr-primary-5);
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            margin-left: 2rem;
            padding-left: 0;

            .number {
                right: 0;
                transform: translate(50%,-50%);
            }
        }

        &:first-child {
            border-top: 0;
            border-top-right-radius: 0;
        }

        &:last-child {
            border-bottom-left-radius: 0;
        }

        .number {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 0;
            background: var(--clr-primary-5);
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: grid;
            place-items: center;
            color: var(--clr-primary-1);
            font-weight: bold;
        }
    }
}
/*
=============== 
footer
===============
*/

.footer {
    background-color: #222;
    padding-bottom: 1rem;
    display: grid;
    place-items: center;

    .social-icons {
        padding-bottom: 1rem;
    }

    .social-icon {
        color: var(--clr-primary-5);

        &:hover {
            color: var(--clr-primary-10);
        }
    }

    p {
        font-size: 1.25rem;
        text-transform: capitalize;
    }
}
/*
========
works
========
*/
.works{
    background-color: rgb(151, 149, 151);
    &-center{
        min-height: calc(100vh - 4rem);
        display: grid;
        // justify-content: center;
        // align-items: center;
        place-items: center;
    }
    &-info p{
        color: black;
    }
    &-btn{
        margin-top: 1.5rem;
    }
    &-photo{
        max-width: 30rem;
        max-height: 30rem;
        object-fit: cover;
        border-radius: var(--radius);
        position: relative;
    }
}
/*
========
camara
========
*/
.camara{
    background-color: var(--clr-primary-10);
    &-center{
        min-height: calc(100vh - 4rem);
        display: grid;
        // justify-content: center;
        // align-items: center;
        place-items: center;
        margin-top: -5rem;
        margin-bottom: -5rem;
        
    }
    &-info p{
        color: var(--clr-grey-5);
    }
    &-btn{
        margin-top: 1.5rem;
    }
    &-photo{
        max-width: 25rem;
        max-height: 30rem;
        object-fit: cover;
        border-radius: var(--radius);
        position: relative;
    }
}
@media screen and (min-width:768px) {
    .camara{
        &-center{
            grid-template-columns: 1fr 1fr;
        }
    }
}